body {
  background-color: lightgray;
}

mat-card {
  margin: 10px 5px;
  @media(min-width: 420px) {
    margin: 30px;
  }
  @media(min-width: 600px) {
    margin: 30px 60px;
  }
  @media(min-width: 980px) {
    margin: 30px 150px;
  }
}

mat-form-field {
  display: block;
}

mat-checkbox {
  padding-right: 12px;
}

button {
  display: block;
  margin-top: 30px;
  width: 180px;
}

h1 {
  margin: -5px 0 25px 0
}